<header class="flex h-16 items-center justify-between border-b border-slate-200 bg-white px-6">
  <div class="flex items-center gap-4">
    <img src="/images/bank-pivdennyi-logo.webp" alt="bank-pivdennyi-logo" class="h-14 w-auto" />
    <div class="h-8 w-px bg-slate-200"></div>
    <h1 class="text-sm font-medium text-slate-600">Реєстр платежів</h1>
  </div>

  <div class="flex items-center gap-3">
    <div class="text-right">
      <p class="text-sm font-medium text-slate-800">Аліна Чумаченко</p>
      <p class="text-xs text-slate-500">Адміністратор</p>
    </div>
    <div
      class="flex h-9 w-9 items-center justify-center rounded-full bg-cyan-500 text-sm font-semibolt text-slate-700"
    >
      АЧ
    </div>
  </div>
</header>
